<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>loginRegister.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>loginRegister.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookMessageServlet</servlet-name>
        <servlet-class>lookMessage.LookMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMessageServlet</servlet-name>
        <servlet-class>lookMessage.UpdateMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>lookMessage.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookFriendServlet</servlet-name>
        <servlet-class>friendManager.LookFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFriendServlet</servlet-name>
        <servlet-class>friendManager.AddFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFriendServlet</servlet-name>
        <servlet-class>friendManager.UpdateFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFriendMessageServlet</servlet-name>
        <servlet-class>friendManager.UpdateFriendMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFriendServlet</servlet-name>
        <servlet-class>friendManager.DeleteFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookDateServlet</servlet-name>
        <servlet-class>dateManager.LookDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDateServlet</servlet-name>
        <servlet-class>dateManager.AddDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDateServlet</servlet-name>
        <servlet-class>dateManager.UpdateDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDateServlet</servlet-name>
        <servlet-class>dateManager.DeleteDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpServlet</servlet-name>
        <servlet-class>fileManager.FileUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookMessageServlet</servlet-name>
        <url-pattern>/LookMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMessageServlet</servlet-name>
        <url-pattern>/UpdateMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookFriendServlet</servlet-name>
        <url-pattern>/LookFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFriendServlet</servlet-name>
        <url-pattern>/AddFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFriendServlet</servlet-name>
        <url-pattern>/UpdateFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFriendMessageServlet</servlet-name>
        <url-pattern>/UpdateFriendMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFriendServlet</servlet-name>
        <url-pattern>/DeleteFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookDateServlet</servlet-name>
        <url-pattern>/LookDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDateServlet</servlet-name>
        <url-pattern>/AddDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDateServlet</servlet-name>
        <url-pattern>/UpdateDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDateServlet</servlet-name>
        <url-pattern>/DeleteDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpServlet</servlet-name>
        <url-pattern>/FileUpServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
